Counter wrapper

In [3]:
count = 0
for i in  range(3):
    print(f'Good evening : {count}')
    count = count + 1
print(count)

Good evening : 0
Good evening : 1
Good evening : 2
3

In [9]:
count=0
for i in range(5):
    n1=eval(input("Enter the number"))
    if n1 % 2 == 0:
        print(f"Number {n1} is even")
        count=count+1
    else:
        print(f"Number {n1} is odd")
print(f"We have {count} number of evens")

Enter the number 5

Number 5 is odd

Enter the number 10

Number 10 is even

Enter the number 3

Number 3 is odd

Enter the number 6

Number 6 is even

Enter the number 13

Number 13 is odd
We have 2 number of evens

In [ ]:
import random
even_count=0
odd_count=0
for i in range(5):
    num = random.randint(1,100)
    if n1 % 2 == 0:
        even_count=even_count+1
        print(f"Number {num} is even")
    else:
        odd_count=odd_count + 1
        print(f"Number {num} is odd")
print(f'the')

In [10]:
count = 0
for i in range(1,76):
    if 75% i == 0:
        print(f'{i} is divisor of 75')
        count=count+i
print(f"{count}")

1 is divisor of 75
3 is divisor of 75
5 is divisor of 75
15 is divisor of 75
25 is divisor of 75
75 is divisor of 75
124

In [17]:
count = 0
for i in 'Tejas':
    print(i)
    count=count+1

print(count)

T
e
j
a
s
5

In [18]:
name = 'Shankar'
count=0
for i in name:
    print(i)

S
h
a
n
k
a
r

In [19]:
name = input('Enter your name: ')
for i in range(10):
    print(name)

Enter your name:  Shankar

Shankar
Shankar
Shankar
Shankar
Shankar
Shankar
Shankar
Shankar
Shankar
Shankar

In [21]:
name1 = input('Enter first name:')
name2 = input('Enter second name')
for i in range(5):
    print(name1) 
    print(name2)

Enter first name: Tejas
Enter second name Jyoti

Tejas
Jyoti
Tejas
Jyoti
Tejas
Jyoti
Tejas
Jyoti
Tejas
Jyoti

In [24]:
s='python'
for i in s:
    print(ord(i))

112
121
116
104
111
110

In [25]:
alphabet='abcdefghijklmnopqrstuvwxyz'
for i in alphabet:
    print(ord(i))

97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122

In [27]:
alphabet='abcdefghijklmnopqrstuvwxyz'
alpha_upper = alphabet.upper()
for i in alpha_upper:
    print(ord(i))

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [30]:
import string
alphabet='abcdefghijklmnopqrstuvwxyz'
alpha_upper = alphabet.upper()
for i in alpha_upper:
    print(i, ord(i))

A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90

In [33]:
unc_name = input("What is your uncles name?")
if unc_name == 'Hari':
    for i in range(5):
        print(unc_name)
else:
    for i in range(3):
        print(unc_name)

What is your uncles name? Tejas

Tejas
Tejas
Tejas

In [36]:
for i in range(2307,2401):
    print(i,chr(i),end=' ')

2307 ः 2308 ऄ 2309 अ 2310 आ 2311 इ 2312 ई 2313 उ 2314 ऊ 2315 ऋ 2316 ऌ 2317 ऍ 2318 ऎ 2319 ए 2320 ऐ 2321 ऑ 2322 ऒ 2323 ओ 2324 औ 2325 क 2326 ख 2327 ग 2328 घ 2329 ङ 2330 च 2331 छ 2332 ज 2333 झ 2334 ञ 2335 ट 2336 ठ 2337 ड 2338 ढ 2339 ण 2340 त 2341 थ 2342 द 2343 ध 2344 न 2345 ऩ 2346 प 2347 फ 2348 ब 2349 भ 2350 म 2351 य 2352 र 2353 ऱ 2354 ल 2355 ळ 2356 ऴ 2357 व 2358 श 2359 ष 2360 स 2361 ह 2362 ऺ 2363 ऻ 2364 ़ 2365 ऽ 2366 ा 2367 ि 2368 ी 2369 ु 2370 ू 2371 ृ 2372 ॄ 2373 ॅ 2374 ॆ 2375 े 2376 ै 2377 ॉ 2378 ॊ 2379 ो 2380 ौ 2381 ् 2382 ॎ 2383 ॏ 2384 ॐ 2385 ॑ 2386 ॒ 2387 ॓ 2388 ॔ 2389 ॕ 2390 ॖ 2391 ॗ 2392 क़ 2393 ख़ 2394 ग़ 2395 ज़ 2396 ड़ 2397 ढ़ 2398 फ़ 2399 य़ 2400 ॠ