** representations**

In [1]:
s1 = 'python'
s2 = "python"
s3 = "I like 'python'"
s4 = 'I like "python"'
print(s1)
print(s2)
print(s3)
print(s4)

python
python
I like 'python'
I like "python"

In [11]:
print(type(s1))
print(s1)
print(len(s1))
print(min(s1))
print(max(s1))
#print(sum(s1))
print(sorted(s1))
print(reversed(s1))

<class 'str'>
python
6
h
y
['h', 'n', 'o', 'p', 't', 'y']
<reversed object at 0x0000019A0077C6D0>

In [7]:
print(reversed(s4))

<reversed object at 0x0000019A0077D060>

In [8]:
len(s1)

6

In [12]:
for i in 'python':
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [16]:
print(sorted(s1,reverse=True))

['y', 't', 'p', 'o', 'n', 'h']

**iterable**

In [17]:
for i in range(5,51,5):
    print(i,end=' ')

5 10 15 20 25 30 35 40 45 50

In [18]:
for i in range(30,0,-3):
    print(i,end=' ')

30 27 24 21 18 15 12 9 6 3

In [19]:
for i in range(2,41,4):
    print(i, end=' ')

2 6 10 14 18 22 26 30 34 38

In [20]:
s5 = sorted(s4,reverse=True)
print(s5)

['y', 't', 'p', 'o', 'n', 'l', 'k', 'i', 'h', 'e', 'I', '"', '"', ' ', ' ']

In [26]:
list(reversed(s1))

['n', 'o', 'h', 't', 'y', 'p']

In [31]:
ans = reversed(s4)
for i in ans:
    print(i, end= ' ')

" n o h t y p "   e k i l   I

In [32]:
username = input("Enter your full name:")
for i in username:
    print(i, end=' ')

Enter your full name: Tejas Shankar Vaval

T e j a s   S h a n k a r   V a v a l

**concatenation**

In [35]:
s1 = 'hi'
s2 = 'Hello'
s1+' '+ s2

'hi Hello'

In [38]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [39]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [40]:
s2*s1

TypeError: can't multiply sequence by non-int of type 'str'

In [41]:
s1*3

'hihihi'

**index**

- index will give an idea how to acess elemnts in a string
-

In [43]:
ss1 = 'python'
ss1[0]

'p'

In [44]:
ss1[-4]

't'

In [46]:
name = 'Tejas Vaval'
name[0], name[7]
for i in range(0,len(name),1):
    print(i,name[i])

0 T
1 e
2 j
3 a
4 s
5
6 V
7 a
8 v
9 a
10 l

In [48]:
sname = "Fvssc"
for i in range(0,len(sname),1):
    print(sname[i])

F
v
s
s
c

In [49]:
country = input("Enter your country:")
for i in range(0,len(country),1):
    print(country[i])

Enter your country: jhjlh kgkjhjkl

j
h
j
l
h

k
g
k
j
h
j
k
l

**India India**
- I,d,a,,I,d,a

In [52]:
country = input('Enter your country:')
for i in range(0,len(country),1):
    print(i)
    print(country[i])
    print(country)

Enter your country: India

0
I
India
1
n
India
2
d
India
3
i
India
4
a
India

In [53]:
country = 'Australia'
for i in country:
    print(i)

A
u
s
t
r
a
l
i
a

**wap to acept friend name and his country**

**wap to acept friend name and his country**

In [57]:
fname = input('Friend name:')
fcountry = input('Friends country:')

for i in range(0, len(fname),1):
    print(fname[i])
for i in range(0, len(fcountry), 1):
    print(fcountry[i])

Friend name: Max
Friends country: Spain

M
a
x
S
p
a
i
n

In [58]:
fname = input('Friend name:')
fcountry = input('Friends country:')

for i in fname:
    print(i)

for i in fcountry:
    print(i)

Friend name: Max
Friends country: Spain

M
a
x
S
p
a
i
n

**Tejas -- Sajet

In [64]:
my_name = input("Enter your name:")
friend_name = input("Enter your friend name:")

for i in range((len(my_name)-1),0, -1):
    print(friend_name[i])
    print(my_name[i])

Enter your name: Tejas
Enter your friend name: Myron

n
s
o
a
r
j
y
e

In [65]:
my_name = input("Enter your name:")
friend_name = input("Enter your friend name:")
for i in friend_name:
    print(i)

for j in my_name:
    print(j)

Enter your name: Tejas
Enter your friend name: Nick

N
i
c
k
T
e
j
a
s