In [1]:
for i in range(1,11,1):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [2]:
for i in range(0,51,5):
    print(i,end=' ')

0 5 10 15 20 25 30 35 40 45 50

In [3]:
for i in range(75,0,-1):
    print(i, end=' ')

75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [14]:
for i in range(-10,0,1):
    print(i, end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [13]:
for i in range(-2,-20,-2):
    print(i, end=' ')

-2 -4 -6 -8 -10 -12 -14 -16 -18

In [15]:
name = 'Tejas'
for i in range(0,len(name), 1):
    print(name[i])

T
e
j
a
s

In [16]:
for i in 'Tejas':
    print(i)

T
e
j
a
s

In [20]:
name = 'Tejas vaval' 
for i,j in enumerate(name):
    print(j,i)

T 0
e 1
j 2
a 3
s 4
  5
v 6
a 7
v 8
a 9
l 10

In [21]:
#wap to ask the user to get the number of "A" in a given string.
#s1 = 'ola old ola'
s1= 'ola ola ola'
count=0
for i in s1:
    if i == 'a':
        count=count+1
print(count)

3

In [ ]:
my_name = input('Enter your name:')
sample = input('Which char do you want to count in your name:')
count=0

In [22]:
my_name = input('Enter your name:') # shankar Vaval
sample = input('Which char do you want to count in your name:') 
count=0
for i in my_name:
    if i == sample:
        count=count+1
print(count)

Enter your name: Tejas Vaval
Which char do you want to count in your name: a

3

In [24]:
sname = input('Enter your school name:') #Fortitude Valley State secandary collage
smpchar = input('Enter the char you want to count:') #t
count=0
for i in sname:
    if i == smpchar:
        count=count+1
print(f'The final count of {smpchar} in {sname} is {count}.')

Enter your school name: The dead evil
Enter the char you want to count: e

The final count of e in The dead evil is 3.

In [26]:
s1 = input('Enter your sentence:') #Tejas
for i in s1:
    if i == 'a' or i=='e' or i=='i' or i=='o' or i=='u':
        print(i)

Enter your sentence: tejas

e
a

In [30]:
sname = input('Enter a name:')#Tejas Vaval
count=0
for i in sname:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        print(i)
        count=count+1
print(f'In {sname} the amout of vowels are {count}.')

Enter a name: tejas vaval

e
a
a
a
In tejas vaval the amout of vowels are 4.

In [31]:
sname = input('Enter a name:') #Tejas Vaval
temp=''
for i in sname:
    if i in 'aeiou':
        print(i)
        temp=temp+i
print(temp)

Enter a name: tejas vaval

e
a
a
a
eaaa

In [32]:
#wap to print even numbers between 1-100.
for i in range(1,101,1):
    if i%2 == 0:
        print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [34]:
#wap if the number is even multiply by 3 and print or odd multiply by 5 and print.
for i in range(1,101,1):
    if i%2 == 0:
        print(i*3,end=' ')
    else:
        print(i*5, end=' ')

5 6 15 12 25 18 35 24 45 30 55 36 65 42 75 48 85 54 95 60 105 66 115 72 125 78 135 84 145 90 155 96 165 102 175 108 185 114 195 120 205 126 215 132 225 138 235 144 245 150 255 156 265 162 275 168 285 174 295 180 305 186 315 192 325 198 335 204 345 210 355 216 365 222 375 228 385 234 395 240 405 246 415 252 425 258 435 264 445 270 455 276 465 282 475 288 485 294 495 300

In [35]:
#wap if the number is even multiply by 3 and print or odd multiply by 5 and print.
for i in range(1,101,1):
    if i%2 == 0:
        even = i*3
        print(even,end=' ')
    else:
        odd = i*5
        print(odd, end=' ')

5 6 15 12 25 18 35 24 45 30 55 36 65 42 75 48 85 54 95 60 105 66 115 72 125 78 135 84 145 90 155 96 165 102 175 108 185 114 195 120 205 126 215 132 225 138 235 144 245 150 255 156 265 162 275 168 285 174 295 180 305 186 315 192 325 198 335 204 345 210 355 216 365 222 375 228 385 234 395 240 405 246 415 252 425 258 435 264 445 270 455 276 465 282 475 288 485 294 495 300

In [46]:
number = eval(input('Please enter a number:'))
if number <= 0:
    print('Negative numbers not allowed.')
else:
    for i in range(1,11,1):
        print(f'{number} x {i} = {i*number}')

Please enter a number: 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70