In [2]:
# 2*1=2, 2*2=4
num1 = eval(input('Whats the table you want? :')) #5
for i in range(1,11,1):
    print(f'{num1} x {i} = {i*num1}')

Whats the table you want? : 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [3]:
friend = input('Whats your friends name:')
for i in friend:
    print(i, end=' ')

Whats your friends name: Max

M a x

In [4]:
#aeiou
friend = input('Whats your friends name:') # Maxton
for i in friend:
    if i in 'aeiou':
        print(i)

Whats your friends name: maxton

a
o

In [6]:
#find aeiou
friend = 'Maxton'
for i in friend:
    if i =='a' or i=='e' or i=='i' or i=='o' or i=='u':
        print(i)

a
o

In [7]:
#wap assume you have 1-100 num, for every even number mulitply it by 3 and for odd multiply by 5 and print.
for i in range(1,101,1):
    if i%2 == 0:
        print(i*3, end=' ')
    else:
        print(i*5, end=' ')

5 6 15 12 25 18 35 24 45 30 55 36 65 42 75 48 85 54 95 60 105 66 115 72 125 78 135 84 145 90 155 96 165 102 175 108 185 114 195 120 205 126 215 132 225 138 235 144 245 150 255 156 265 162 275 168 285 174 295 180 305 186 315 192 325 198 335 204 345 210 355 216 365 222 375 228 385 234 395 240 405 246 415 252 425 258 435 264 445 270 455 276 465 282 475 288 485 294 495 300

In [10]:
name = "Tejas"
name[0]
name[2]
name[2] = 'k'

TypeError: 'str' object does not support item assignment

In [11]:
items = ['pen','book', 'car', 'remote']
items[3] = 'bike'
print(items)

['pen', 'book', 'car', 'bike']

In [36]:
name = 'hai how are you'
print(len(name))
+
for i in range(0,len(name),3):
    print(name[i])
for j in range((len(name)-1),1,-3):
    print(name[j])

15
h

w
r
y
u

a
o
i