In [1]:
n1=100
n2=200
add=n1+n2
add

300

In [6]:
print(f'The Sum of {n1} and {n2} is {add}')

The Sum of 100 and 200 is 300

In [8]:
print('The addition of',n1 ,'and' ,n2 ,'is' ,add)

The addition of 100 and 200 is 300

In [11]:
print('The sum is' ,add,'for adding' ,n1,'and' ,n2)

The sum is 300 for adding 100 and 200

In [14]:
print(f'The sum is {add} for adding {n1} and {n2}')

The sum is 300 for adding 100 and 200

In [15]:
a=500
b=300
addition=a+b
substraction=a-b
multiplication=a*b
print(f'Addition of {a} and {b} is {addition}')
print(f'Substraction of {a} and {b} is {substraction}')
print(f"Multiplication of {a} and {b} is {multiplication}")

Addition of 500 and 300 is 800
Substraction of 500 and 300 is 200
Multiplication of 500 and 300 is 150000

In [21]:
name='Tejas'
age=15
place='Brisbane'
print('My name is {} from {}. I am {} years old and learning python.'.format(name,place,age))
print('My name is',name, 'from',place,'. I am',age, 'years old and learning python.' )
print(f'My name is {name}, from {place}. I am {age} years old and learning python.')

My name is Tejas from Brisbane. I am 15 years old and learing python.
My name is Tejas from Brisbane . I am 15 years old and learing python.
My name is Tejas, from Brisbane. I am 15 years old and learing python.

In [19]:
print('My name is',name, 'from',place,'. I am',age, 'years old and learing python.' )

My name is Tejas from Brisbane . I am 15 years old and learing python.

In [20]:
print('My name is {} from {}. I am {} years old and learing python.'.format(name,place,age))

My name is Tejas from Brisbane. I am 15 years old and learing python.